<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ "/assets/favicon.ico" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="w-screen h-screen overflow-x-hidden">
    <header class="h-16 bg-transparent w-full fixed text-xl flex items-center px-4">
        <a class="hover:opacity-80" href="{{ site.baseurl }}/">Home</a>
        <div class="ml-auto space-x-4">
            <a class="hover:opacity-80" href="https://github.com/kyteidev/">Github</a>
            <a class="hover:opacity-80" href="{{ site.baseurl }}/portfolio/">Portfolio</a>
        </div>
    </header>
    <div class="content" style="padding-left: clamp(150px, 20vw, 360px); padding-right: clamp(150px, 20vw, 360px);">
        <div class="intro-section bg-base-100 w-full pt-80 pb-40 px-0">
            <h1 class="text-8xl" style="margin-right: clamp(160px, 256px, 256px);">My Portfolio</h1>
        </div>
        <div class="portfolio space-y-16">
            <section class="basic-info flex">
                <h2 class="text-4xl text-accent">Basic Info</h2>
                <p class="ml-auto text-2xl max-w-xl leading-normal">I am an indie software and game developer. I am really good at developing things using web technologies.<br><br>
                    I am currently based in Europe. However, sometimes I may travel to other places during holidays and work on projects there.<br><br>
                        When I am not working on projects, I enjoy reading books, chatting with friends online, and going outside for a walk.</p>
            </section>
            <section class="skills flex">
                <h2 class="text-4xl text-accent">Skills</h2>
                <p class="ml-auto text-2xl max-w-xl leading-normal"><span class="font-bold">Languages: </span>JavaScript/Typescript, Rust, C#, HTML5, CSS, Blueprint, Scratch<br><br>
                    <span class="font-bold">Frameworks/Engines: </span>Tauri, React/SolidJS, Tailwind, egui, Unity, Unreal Engine</p>
            </section>
            <section class="projects flex">
                <h2 class="text-4xl text-accent">Featured Projects</h2>
                <p class="ml-auto text-2xl max-w-xl leading-normal"><a href="https://github.com/kyteidev/FluxEditor/"><span class="font-bold underline decoration-[#4287f5] hover:opacity-80">Flux Editor:</span></a> a minimalist and lightweight code editor, made using Tauri and SolidJS<br><br>
                    <a href="https://scratch.mit.edu/projects/415174100/"><span class="font-bold underline decoration-[#4287f5] hover:opacity-80">RadiumOS:</span></a> an operating system made in Scratch</p>
            </section>
        </div>
    </div>
    <footer class="h-12 w-full flex flex-col space-y-1 justify-center items-center mt-40 text-xs p-5">
        <p class="text-center">Copyright © 2025 <a href="https://github.com/kyteidev/">kyteidev</a>. Made with ❤️</p>
    </footer>
  </body>
</html>
